<div class="container">
        <div class="row">
        <div class = "topRated">
          <h1>Top rated movies</h1>
                <app-top-rated-movies></app-top-rated-movies>
        </div>
</div>
        
<div class="row">
        <div class = "playing">
          <h1>Now playing movies</h1>
          <app-playing-movies></app-playing-movies>
        </div>
</div>

<div class="row">
        <div class = "upcomming">
          <h1>Upcomming movies</h1>
          <app-upcomming-movies></app-upcomming-movies>
        </div>
</div>
</div>
